@{
    ViewData["Title"] = "Ошибка";
}
@model CourceWork.ViewModels.LoginModel

<div class="text-center">
    <div class="login-container">
        <h2>Кажется, у вас недостаточно прав!</h2>
    </div>
</div>